.splash-page .total-top {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
  height: 130px;
  position: fixed;
  top: 0;
}

.splash-page .navbar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 0px 30px 0px 30px;
  box-sizing: border-box;
  width: 1220px;
}

.splash-page .logo {
  display: flex;
  align-items: center;
  margin-left: -100px;
}

.splash-page .navbar h2 {
  font-family: 'Volkhov', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  line-height: 20px;
  font-weight: bold;
  margin-left: -70px;
}

.splash-page .content {
  background: #00A82D;
  background-image: url('https://evernote.com/img/backgrounds/patterns/main-green.png');
  color: #fff;
  height: 780px;
  display: flex;
  justify-content: center;
  padding-top: 250px;
  box-sizing: border-box;
}

.splash-page .content-items {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
}

.splash-page .content .content-left {
  width: 450px;
  flex-direction: column;
  margin-right: 80px;
}

.splash-page .content .content-left p {
  font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 35px;
  -webkit-font-smoothing: antialiased;
}

.splash-page .content h2 {
  font-family: "Soleil_Medium", Helvetica, Arial, sans-serif;
  font-size: 56px;
  line-height: 72px;
  margin-bottom: 20px;
}


.splash-page .content button {
  background: white;
  color: #00A82D;
  border-radius: 3px;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 240px;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 18px 32px 17px;
  transition: .3s ease-in-out;
  -webkit-font-smoothing: antialiased;
}

.splash-page .content button:hover {
  background: #F7F7F7;
}

.splash-page .content-right {
  display: flex;
  align-items: top;
  justify-content: center;
}

.splash-page .content-right img {
  max-height: 68%;
  height: auto;
  max-width: 100%;
  width: auto;
}

.splash-page .buttons {
  display: flex;
  align-items: center;
}

.splash-page .buttons li {
  margin-left: 13px;
  line-height: 21px;
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .5px;
}

.splash-page .buttons .signup, .splash-page .buttons .login {
  color: #00a82d;
  font-size: 16px;
  text-decoration: none;
  transition: .1s color 
}

.splash-page .buttons .login {
  height: 40px;
  min-width: 120px;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  color: #00a82d;
  border-radius: 3px;
  border: 2px solid #00a82d;
  padding: 0 10px;
  transition: .3s border;
  font-weight: 600;
}

.splash-page .buttons .signup:hover {
  color: #14CC45;
}

.splash-page .buttons .login:hover {
  color: #14CC45;
  border: 2px solid #14CC45;
}

.splash-page .content2 {
  height: 450px;
  display: flex;
  flex-direction: column;
  padding: 115px 0px 100px;
  justify-content: space-around;
  align-items: center;
  font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 48px;
  line-height: 64px;
  background: #F7F7F7;
  cursor: default;
}

.content2 .focus-img{
  width: 105px;
  height: 119px;
}

.splash-page .footer {
  padding-right: 40px;
  height: 60px;
  font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background:  #fff;
  color: #c5ccca;
  letter-spacing: .5px;
}

.splash-page .footer-links {
  display: flex;
}

.splash-page .footer-links li {
  margin-left: 20px;
}