.all-content {
  display: flex;
}

.main-content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
}

.columns {
  display: flex;
  height: 100%;
}

.side-nav {
  display: flex;
  flex-direction: column;
  width: 241px;
  background-color: #1a1a1a;
  padding-top: 20px;
  box-sizing: border-box;
}

/* .side-nav .email {
  align-items: center;
  padding-left: 20px;
  height: 56px;
  color: lightgrey;
  cursor: pointer;
} */

.side-nav .top{
  height: 120px;
  align-items: flex-start;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clear: both;
}

.email {
  position: relative;
  color: #666;
  cursor: pointer;
  margin: 0 auto;
}

.email .top-email {
  color:  #ccc;
  font-size: 13px;
  font-weight: 50;
}

.top-email:hover { 
  color: #fff;
}


.logout-popup-items p {
  font-size: 13px;
  color: #b3b3b3;
  text-align: left;
  margin-bottom: 5px;
  padding: 15px 0px 0px 15px;
}

.email .logout-popup.show {
  display: block;
  position: absolute;
  top: 22px;
  left: 0px;
  background: #fff;
  border: 1px solid rgb(230, 230, 230);
  min-width: 260px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  z-index: 2;
  line-height: 1.5;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 4px 12px rgba(27, 39, 51, .08);

}

.email .logout-popup.hide {
  display: none;
}

.logout-popup-items {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: default;
}

.logout-popup-items .account-email {
  font-weight: 300;
  margin: 0;
  padding: 0px 0px 25px 15px;
  text-align: left;
}

.logout-popup .logout-btn {
  border-top: 1px solid rgb(230, 230, 230);
  font-size: 14px;
  color: #666;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
}

.logout-popup .logout-btn:hover {
  background: #f2f2f2;
}

.side-nav .new-note {
  color: #fff;
  display: flex;
  width: 110px;
  height: 30px;
  vertical-align: middle;
  margin-top: 60px;
}

.side-nav .new-note-img {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
}

.new-note:hover .new-note-img {
  transition: transform 0.3s ease-out; // note that we're transitioning transform, not height!
  height: auto;
  transform: scale(1.2);
}

.links {
  text-align: left;
  margin-top: 60px;
  font-weight: 400;
}

.links li {
  color: #e6e6e6;
  font-size: 14px;
  height: 32px;
  width: 100%;
  text-indent: 25px;
  line-height: 32px;
}

.links li:hover {
  background-color: #404040;
}

.note-sidebar {
  padding-top: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  box-sizing: border-box;
  height: 800px;
  position: relative;
  width: 345px;
  will-change: transform;
  overflow: hidden auto;
}


.note-sidebar h2 {
  color: #333;
  font-weight: 400px;
  min-width: 20px;
  font-size: 20px;
  letter-spacing: 0.03em;
  padding-left: 25px;
}


.note-panel {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
}

.single-note {
  cursor: pointer;
  border-bottom: 1px solid rgb(230, 230, 230);
  height: 121px;
  font-size: 13px;
  color: #4d4d4d;
  width: 345px;
  padding: 15px 24px 15px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
}

.note-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.note-content {
  opacity: 1;
}

.single-note:hover {
  background: #f2f2f2;
}

.single-note .selected {
  background: #f2f2f2;
}


.note-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 8px 40px 4px;
}

.note-form .title-input {
  cursor: text;
  /* display: block; */
  font-size: 34px;
  margin-bottom: 15px;
}

.note-form {
  overflow-wrap: break-word;
  padding-top: 20px;
}

.note-form input[type="submit"] {
  text-align: center;
  border: 1px solid rgb(230, 230, 230);
  padding: 10px 15px;
  border-radius: 4px;
  width: 56px;
  margin: 0 auto;
}

.note-form input[type="submit"]:hover {
  background: #f2f2f2;
}

.note-count {
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #a6a6a6;
  padding-left: 25px;
}

.timestamp {
  font-size: 13px;
  font-weight: 300;
  color: #a6a6a6;
}

.above-form {
  padding-top: 20px;
  padding-left: 25px;
}

.note-panel .dots {
  padding: 0px 3px 10px;
  font-weight: 100;
  color: #000;
  border: 1px solid #e6e6e6;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  line-height: 16px;
  /* display: inline-flex; */
  font-weight: bold;
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 30px;
  letter-spacing: 0;
}

.note-panel .dots:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.above-form {
  height: 54px;
  width: 100%;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.three-dots {
  position: relative;
}

.delete-note.show {
  display: block;
  position: absolute;
  right: 30px;
  top: 40px;
  font-size: 14px;
  border: 1px solid rgb(230, 230, 230);
  padding: 10px 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, .16), 0 4px 12px rgba(27, 39, 51, .08);
}

.delete-note.hide {
  display: none;
}

.delete-note:hover {
  background: #f2f2f2;
}

.dots:hover .delete-note {
  display: block;
}